
<img src="https://intelcorp.scene7.com/is/image/intelcorp/evo-powered-by-core-ultra-processor-overview-video-thumbnail:1920-1080" alt="" class="img-fluid">

<h3 class="fade-in">Las Mejores Marcas para los Verdaderos Gamers</h3>
<!-- Sección de marcas -->
<div class="brand-logos  fade-in">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ad/HP_logo_2012.svg/800px-HP_logo_2012.svg.png" alt="HP">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/Dell_logo_2016.svg/170px-Dell_logo_2016.svg.png" alt="Dell">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c9/Lenovo_%282015%29.svg/250px-Lenovo_%282015%29.svg.png" alt="Lenovo">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b0/ASUS_Corporate_Logo.svg/2560px-ASUS_Corporate_Logo.svg.png" alt="Asus">
    <img src="https://upload.wikimedia.org/wikipedia/commons/f/fa/Apple_logo_black.svg" alt="Apple">
</div>
<br>
<img src="images/consola.jpg" class="img-fluid">
<br>
<h3>"Potencia sin límites, juega sin barreras"</h3>

<div class="gaming-devices">
    <div class="device">
        <a [routerLink]="['/laptops']">
            <img src="images/laptopgamer.jpg" 
            alt="Laptop Gamer" class="img-fluid">
        </a>
        <p>Laptop Gamer de alto rendimiento</p>
    </div>
    <div class="device">
        <a [routerLink]="['/pcs']">
            <img src="images/pc.jpg" 
            alt="Laptop Gamer" class="img-fluid">
        </a>
        <p>PC Gamer lista para la batalla</p>
    </div>
    <div class="device">
        <a [routerLink]="['/consolas']">
            <img src="images/consola5.jpg" alt="Consola de Videojuegos" class="img-fluid">
        </a>
        <p>Consola para una experiencia inmersiva</p>
    </div>
</div>
<div class="brand-logos">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/Sony_logo.svg/1200px-Sony_logo.svg.png" alt="Razer">
    <img src="https://upload.wikimedia.org/wikipedia/commons/d/d7/Xbox_logo_%282019%29.svg" alt="Logitech">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQVxU5ADPiW2GXkveNB4Q9J8uJrDUeCk_BJug&s" alt="Theros">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ab/Valve_logo.svg/320px-Valve_logo.svg.png" alt="SteelSeries">
</div>
<br>
<img src="https://wallpapers.com/images/featured/imagenes-de-juegos-mvsz1kkh1xdlsf68.jpg" alt="" class="img-fluid">

<h3>¡Potencia tu Juego al Máximo!</h3>
<div class="categories">
    <div class="category-item">
        <img src="https://hardzone.es/app/uploads-hardzone.es/2022/04/Componentes-ordenador.jpg" alt="Componentes">
        <p>Componentes</p>
    </div>
    <div class="category-item">
        <img src="https://cdn.pixabay.com/photo/2015/01/21/14/14/apple-606761_1280.jpg" alt="Monitores">
        <p>Monitores</p>
    </div>
    <div class="category-item">
        <img src="https://s.alicdn.com/@sc04/kf/H375bd91d7fcf4427a3e5e222de3f99bb1.jpg_720x720q50.jpg" alt="Teclados">
        <p>Teclados</p>
    </div>
    <div class="category-item">
        <img src="https://mymsuministros.com/wp-content/uploads/2021/06/Mouse-Gamer-Vs-Mouse-Normal-scaled-1200x675.jpg" alt="Mouses">
        <p>Mouses</p>
    </div>
    <div class="category-item">
        <img src="https://img.freepik.com/foto-gratis/cierre-pc-juegos-luces-led-rgb-pie-sobre-mesa-mujer-gamer-jugando-videojuegos-disparos-espaciales-competencia-linea-estudio-equipado-configuracion-transmision-profesional_482257-30001.jpg" alt="Case">
        <p>Case</p>
    </div>
    <div class="category-item">
        <img src="https://www.elespectador.com/resizer/v2/5CBHLZCCCJBWVC56EX7OXL5AAM.jpg?auth=53954a66e17aa8395bcf5802abc2912d4907e69cd030f61489fd10b267e42392&width=920&height=613&smart=true&quality=60" alt="Accesorios">
        <p>Accesorios</p>
    </div>
</div>
<h3>Las mejores marcas en accesorios y componentes para llevar tu experiencia gaming al siguiente nivel</h3>
<div class="brand-logos">
    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/4/40/Razer_snake_logo.svg/1200px-Razer_snake_logo.svg.png" alt="Razer">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/17/Logitech_logo.svg/330px-Logitech_logo.svg.png" alt="Logitech">
    <img src="https://www.teroslatinamerica.com/wp-content/uploads/brizy/imgs/Anadir-un-titulo-492x492x0x54x492x384x1657835832.webp" alt="Theros">
    <img src="https://upload.wikimedia.org/wikipedia/en/7/7f/Steelseries-logo.png" alt="SteelSeries">
    <img src="https://upload.wikimedia.org/wikipedia/commons/b/b3/Corsairlogo_new.png" alt="Corsair">
    <img src="https://1000logos.net/wp-content/uploads/2021/04/HyperX-logo.png" alt="HyperX">
</div>
